<div class="card m-1">
  <header>
    
      <div class="card-header bg-dark">
            <h6>
                <a href="/post/{{id}}" class="text-decoration-none text-light">{{subject_name}}</a>
            </h6>
      </div>

      <div class="column">
      </div>
  </header>

    <div>
        <div class="card-body">
            <p>
            {{body_content}}
            </p>
        </div>
            <div class="card-footer text-muted ">
                <b>{{user.user_name}}</b> | 
                <a href="https://github.com/{{user.github}}" class="text-decoration-none text-info">GitHub</a>
                 | {{format_date date_created}} | <a href="/post/{{id}}" class="text-decoration-none text-dark">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        
    </div>
