<div>
  <header>
    
      <div>
            <p>
                {{subject_name}}
            </p>
      </div>

      <div class="column">
      <span class=""> </span>
      </div>
  </header>

    <div>
        <div>
            {{body_content}}
        </div>
            <div>
                <b>{{user.user_name}}</b> | 
                <a href="https://github.com/{{user.github}}">GitHub</a>
                 | {{format_date date_created}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        
    </div>
